openvino
numpy==1.26.1
opencv-python==4.8.0.74
Pillow==11.3.0
torch==2.5.1
torchvision==0.20.1
dlib==19.24.6
scikit-image
requests
tqdm
colorama
packaging
requests
colormath
#vh/face-quality-assessment
#vh/face-production-face-detection
#vh/face-production-face-recognition
#vh/age_detection
#vh/face_quality_assessment
#insightface
#stone
